$colororange: #ffa200;
$colorGreen: #6eda78;

.flex{
    width: 80%;
}
@media only screen and (max-width: 1250px) {
    .flex {
        width:100%
        
    }
  }
  .viewblackground{
    height: 100vh;
    background: rgb(110,218,120);
    background: linear-gradient(90deg, $colorGreen 0%, $colororange 100%);
    }
    
   